h2{
  font-weight: 500;
}
.subtotal {
  font-size: 16px;
  margin-top: 1rem;
  padding: 10px;
  background-color:  #f8eae1;
  // box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  table {
    width: 100%;
  }
  td {
    padding: 10px 0;
  }
}