.product__card {
  width: 21%;
  margin: 2%;
  padding: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: 0.2s;
  box-shadow: 0px 3px 8px rgba(218, 199, 199, 0.692);
  // box-shadow: 0px 3px 8px rgba(var(--textColor), 0.3);
  display: flex;
  flex-direction: column;
  .link__style{
    cursor: pointer;
  }

  .product__cover {
    width: 100%;
    min-height: 270px;
    max-height: 270px;
    border-radius: 2px;
    margin-bottom: 20px;

    img {
      width: 100%;
      height: 100%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
  }
  .product__title {
    font-size: 16px;
    font-weight: 500;
    flex-basis: 20%;
  }
  .product__rating {
    font-size: 12px;
    padding-top: 5px;
  }
  .product__price {
    font-size: 16px;
    font-weight: 500;
  }
  &:hover {
    transform: scale(1.05);
  }
}

.link__style {
  text-decoration: none;
  color: var(--textColor);
  display: flex;
  flex-direction: column;
  height: 100%;
  cursor: default;
  user-select: none;
  &:active {
    outline: none;
    user-select: none;
    text-decoration: none;
    background-color: none;
  }
}

@media screen and (max-width: 720px) {
  .product__card {
    width: 45%;
    margin: 2.5%;
  }
}

@media screen and (max-width: 1064px) and (min-width: 721px) {
  .product__card {
    width: 29%;
    margin: 2%;
  }
}
