.product__card {
  width: 17%;
  margin: 12px;
  padding: 20px;
  border-radius: 5px;
  transition: 0.2s;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;

  .product__cover {
    min-height: 130px;
    max-height: 130px;
    border-radius: 2px;
    padding: 1px;
  }
  .product__title {
    font-size: 16px;
    font-weight: 700;
    flex-basis: 20%;
  }
  .product__rating {
    font-size: 12px;
    padding-top: 5px;
    flex-basis: 6%;
  }
  .product__price {
    font-size: 16px;
    font-weight: 500;
    flex-basis: 8%;
  }
  &:hover {
    transform: scale(1.05);
  }
}

.link__style {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  height: 100%;
  cursor: default;
}
.add__to__cart {
  width: 100%;
  flex-basis: 6%;
  background-color: #ffd91d;
  border: 1px solid #868609;
  padding: 3px;
  letter-spacing: 0.5px;
  font-size: 14px;
  box-shadow: 0.5px 1px 4px 0px;
  cursor: pointer;
  outline: none;
}
