.categories__container {
  background-color: white;
  color: var(--textColor);
}
.categories__text {
  font-size: 45px;
  letter-spacing: 2px;
  font-weight: 400;
  margin: 13px;
  text-align: center;
  color: #c42424;
  margin-top: 80px;
  font-family: "Elsie Swash Caps";
}
.card__container {
  display: flex;
  // justify-content: center;
  align-items: center;
  padding-top: 2rem;
  overflow-x: scroll;
}
.card__container::-webkit-scrollbar {
  display: none;
}
