.content__container {
  padding: 4rem auto;
}

.carousel__container {
 height: 400px;
 width: 100%;
}
.inDemand__text {
  font-size: 25px;
  font-weight: 800;
  margin: 13px;
  opacity: 0.9;
}

@media screen and (max-width: 720px){
  .carousel__container {
    height: 300px;
  }
}

@media screen and (max-width: 1064px) and (min-width : 720px){
  .carousel__container {
    height: 350px;
  }
}

@media screen and  (min-width : 1450px){
  .carousel__container {
    height: 550px;
  }
}
