.content__container {
  padding: 4rem auto;
}

.carousel__container {
  .image {
    height: 400px;
    width: 100%;
  }
  overflow: hidden;
}
.inDemand__text {
  font-size: 25px;
  font-weight: 800;
  margin: 13px;
  opacity: 0.9;
}

@media screen and (max-width: 720px) {
  .carousel__container {
    width: 100%;
  }
  

}