.content__container {
  padding: 4rem auto;
}

.carousel__container {
  .image {
    min-height: 300px;
    width: 100vw;
    min-width: 100vw;
  transform: translateX(10px);
  }
  overflow: hidden;
}
.inDemand__text {
  font-size: 25px;
  font-weight: 800;
  margin: 13px;
  opacity: 0.9;
}

.carousel__container {
  width: 100vw;
  margin-left: -10px;
  margin-right: -5px;
}
@media screen and (max-width: 720px) {
  .carousel__container {
    width: 100vw;
  }
  
  
}