.mustHave__container{
  padding: 2rem 5rem;
  color: var(--textColor);
  h1{
    font-size: 35px;
    letter-spacing: 2px; 
    font-weight: 400;
    margin: 13px;
  }
}

.mustHaveCards__container{
  display: flex;
  justify-content: space-around;
  padding: 2rem 0;
}


@media screen and (max-width: 720px){
  .mustHave__container{
    padding: 1rem 2rem;
  }
  .mustHaveCards__container{
    padding: 1rem 0;
  }
}

@media screen and (max-width: 1064px) and (min-width : 720px){
  .mustHave__container{
    padding: 2rem;
  }
}