.footer-container {
  position: absolute;
  bottom: 2px;
  background-color: black;
  width: 100%;
  color: white;
  display: flex;
}
h2 {
  font-size: 20px;
  font-weight: 800;
  margin-top: 15px;
  margin-bottom: 15px;
  opacity: 0.9;
}
.footer-main {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1px 19px;
  //   text-align: center;
  .contact-info {
    width: 33%;
    padding: 0px 15px;
  }
  .categories {
    width: 33%;
    padding: 0px 15px;
  }
  .our-promise {
    width: 33%;
    padding: 0px 15px;
  }
}
p {
  opacity: 70%;
  font-size: 13px;
  margin-bottom: 8px;
  span {
    font-weight: 700;
  }
}
.card-heading {
  margin-bottom: 1px;
}
.cards-image {
  font-size: 22px;
  opacity: 80%;
  width: 34%;
  display: flex;
  justify-content: space-between;
}

.all-categories {
  padding: 0px 9px;
  //   line-height: 1.3rem;
}
.promise-cards-container {
  display: flex;
  justify-content: space-between;
  .promise-card {
    width: 20%;
    height: 6rem;
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 43px;
    position: relative;
    .card-icons {
        position: absolute;
        top: 22%;
        left: 34%;
        font-size: 25px;
        opacity: 0.8;
    }
    .card-text {
        font-size: 8px;
        position: relative;
        top: 57%;
        text-align: center;
    }
  }
}
