.hamburger__container {
  position: fixed;
  width: 21%;
  // background-image: linear-gradient(#46265f,#46275feb ,#664283ed);
  background-color: white;
  height: 100%;
  z-index: 5;
  top: 0px;
  color: #474554;
  left: 0px;
  font-family: 'Montserrat', sans-serif;
  border-right: 1px solid #474554;
} 
.close__icon {
 
  font-size: 30px;
  top: 2%;
  position: absolute;
  left: 3%;
  cursor: pointer;
}
.hamburger__items {
    display: flex;
    flex-direction: column;
    top: 8rem;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 4rem;
    padding: 0px 0em 0px 2em;
  div {
      cursor: pointer;
  }
}
.hamburger__link{
  color: #474554;
  text-decoration: none;
}
