.similarProducts-container {
  padding: 2rem 5rem;
  color: var(--textColor);
  h1 {
    font-size: 35px;
    letter-spacing: 2px;
    margin: 13px;
    font-weight: 400;
  }
}

.mustHaveCards-container {
  display: flex;
  padding: 2rem 0;
  justify-content: space-around;
}

@media screen and (max-width: 720px) {
  .similarProducts-container {
    padding: 1rem 2rem;
    h1 {
      font-size: 30px;
    }
  }
  .mustHaveCards-container {
    padding: 1rem 0;
  }
}

@media screen and (max-width: 1024px) and (min-width: 720px) {
  .similarProducts-container {
    padding: 2rem;
  }
}
