.similarProducts-container{
  h1{
    font-size: 35px;
    letter-spacing: 3px;
    padding: 2rem 5rem 1rem;
    font-weight: 400;
  }
}

.mustHaveCards-container{
  display: flex;
  padding: 1rem 5rem 2rem;
  justify-content: space-around;
}