.address__modal__container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 13;
}

.address__modal {
  border: 1px solid #d4d5d9;
  position: relative;
  overflow: hidden;
  margin: auto;
  border-radius: 4px;

  max-width: 441px;
  top: 2%;
  height: 78%;
}
.button__close {
  position: absolute;
  top: 4px;
  right: 8px;
}
.base__container {
  padding-bottom: 60px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.base__header {
  font-size: 14px;
  color: #535766;
  font-weight: 600;
  padding: 20px 10px 20px 30px;
  background: #fff;
  border-bottom: 1px solid #d5d6d9;
}
.base__content {
  overflow-y: auto;
  height: 90%;
  background: #fff;
}
.base__footer {
  position: absolute;
  background: #fff;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px;
  box-shadow: 0 -1px 4px 0 #0000004d;
  .base__button {
    color: #fff;
    font-weight: 600;
    background: #ff3f6c;
    cursor: pointer;
    text-align: center;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1px;

    background-color: #ff3f6c;
    font-size: 14px;
    border-radius: 4px;
    padding: 14px;
  }
}

.modal__form__header {
  padding: 16px 16px 0;
  font-size: 12px;
  font-weight: 600;
  color: #282c3f;
}
.contact__details {
  padding: 16px;
  margin-top: 8px;
  color: #282c3f;
}

.default__check{
    display: flex;
}
