@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
.about-heading {
  font-size: 3rem;
  line-height: 1.5rem;
  font-style: italic;
  text-align: center;
}

.about-content {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-sweets-img {
  img {
    display: block;
    width: 250px;
    border-radius: 15px;
    margin-top: 20px;
  }
}

.about-para {
  max-width: 700px;
  min-width: 400px;
  font-size: 20px;
  font-family: "Roboto";
  text-align: center;
}

@media screen and(max-width: 950px) {
  .about-sweets-img {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      width: 200px;
      margin: 0 10px;
    }
  }
}
