.checkout {
  display: flex;
  padding: 3rem;
}
.checkout__left {
  display: flex;
  flex-basis: 70%;
  flex-direction: column;
}
.checkout__right {
  width: 100%;
  flex-basis: 23%;
  display: flex;
  flex-direction: column;
  margin-left: 4%;
  .subtotal {
    font-size: 16px;
    margin-top: 1rem;
    padding: 10px;
    background-color: #f8eae1;
    border-radius: 5px;
    table {
      width: 100%;
    }
    td {
      padding: 10px 0;
    }
  }
}

.heading__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.emptybag__button {
  padding: 10px;
  font-family: "Montserrat";
  font-size: 16px;
  background-color: #f0ebe5;
  border: none;
  border-radius: 10px;
  outline: none;
}
