@import "../../utility/color/colors.scss";

.header {
  height: 5em;
  background-image: linear-gradient(to right, $PrimaryColor, #6b4689);
  display: flex;
  padding: 5px;
}
.header-hamburger {
  margin-top: 10px;
  cursor: pointer;
  margin-left: 11px;
}
.search__bar {
  position: absolute;
  top: 3.3em;
  left: 31%;
  width: 36%;
  height: 3rem;
}
.hamburger-icon {
  color: white;
  font-size: 43px;
}
.header-heading {
  font-size: 30px;
  color: white;
  position: absolute;
  left: 42%;
  cursor: pointer;
}
.header-icons {
  position: absolute;
  right: 4rem;
  top: 18px;
  color: white;
  display: flex;
  .login {
    display: flex;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
    margin-right: 10px;
    .person {
      font-size: 30px;
    }
  }
  .basket {
    cursor: pointer;
    display: flex;
    .cart {
      margin-left: 15px;
      font-size: 26px;
      color: white;
    }
    .single__digit__cart__notification {
      background: red;
      border: 1px solid transparent;
      border-radius: 50%;
      width: 1.2em;
      height: 1.2rem;
      position: absolute;
      right: -21px;
      top: -5px;
      .single__digit__cart__number {
        position: absolute;
        font-weight: 600;
        top: -2px;
        left: 4px;
        color: white;
      }
    }
    .double__digit__cart__notification {
      background: red;
      border: 1px solid transparent;
      border-radius: 50%;
      width: 1.4em;
      height: 1.4rem;
      position: absolute;
      right: -23px;
      top: -5px;
      .double__digit__cart__number {
        position: absolute;
        color: white;
        font-weight: 600;
      }
    }
  }
}
.link__style {
  text-decoration: none;
  color: white;
}
