.basket__card {
  display: flex;
  margin: 10px;
  padding: 10px;
  border: 1px solid;
  /* height: min-content; */
  /* min-height: 200px; */
  max-height: 200px;
  position: relative;
}
.product__image__container {
  min-width: 185px;
  border: 1px solid;
  padding: 5px;
  max-width: 185px;
  width: 300px;
  .product__image {
    width: 100%;
    height: 100%;
  }
}
.product__details__container {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  .product__title {
    font-weight: 700;
    /* margin-bottom: 2px; */
    line-height: 31px;
    /* justify-content: space-between; */
    font-size: 17px;
  }
  .product__description {
    font-size: 14px;
    /* line-height: 16px; */
    margin-bottom: 11px;
  }
  .product__quantity {
    margin-top: 11px;
    .select__quantity {
      padding: 4px;
      outline: none;
    }
    .increase__quantity{
      width: 20px;
      margin-right: 4px;
    }
    .decrease__quantity{
      width: 19px;
      margin-left: 4px;
    }
  }
  .product__price {
    margin-top: 15px;
  }
}
