.basket__card {
  display: flex;
  margin: 10px;
  padding: 10px;
  max-height: 250px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  background-color: white;
}
.product__image__container {
  min-width: 185px;
  padding: 5px;
  max-width: 185px;
  width: 300px;
  cursor: pointer;
  .checkout__product__image {
    width: 100%;
    height: 100%;
    // border-top-right-radius: 40px;
    // border-bottom-right-radius: 40px;
  }
}
.product__details__container {
  padding-left: 15px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  flex-basis: 65%;
  .product__title {
    h4 {
      font-weight: 500;
      cursor: pointer;
      font-size: 17px;
    }
  }
  .product__description {
    font-size: 14px;
    /* line-height: 16px; */
    margin-bottom: 11px;
  }
  .ordered__on{
    margin: 11px 0;
  }

  .product__size {
    margin: 5px 0;
    h4 {
      font-weight: 400;
      font-size: 16px;
    }
  }
  .product__quantity {
    margin-top: 11px;
    .select__quantity {
      font-size: 15px;
      font-weight: 400;
      width: 2.5rem;
      display: inline-block;
      text-align: center;
      margin-bottom: 20px;
    }
    .increase__quantity,
    .decrease__quantity {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      border: 2px solid #bfc0c6;
      border-radius: 40px;
      padding: 0;
      min-width: 30px;
      min-height: 30px;
      text-align: center;
      cursor: pointer;
      color: #282c3f;
      margin: 5px;
      &:hover {
        border-color: #c91a1a;
        color: #c91a1a;
      }
      &:focus {
        outline: none;
      }
    }
  }
}
.product__price {
  padding-top: 10px;
  h4 {
    font-weight: 500;
    font-size: 17px;
  }
}
.bottom__container {
  margin-top: 10px;
  padding: 10px;
  width: max-content;
  background-color: #f8eae1;
  border-radius: 10px;
}
.remove__button {
  cursor: pointer;
}

@media screen and (max-width: 720px) {
  .product__details__container {
    flex-basis: 60%;
    padding-left: 5px;
    .product__title {
      h4 {
        font-size: 16px;
      }
    }
    .product__size {
      margin: 0;
    }
  }
  .product__price {
    h4 {
      font-size: 16px;
    }
  }
}
