.outer-button{
  font-size: 16px;
  font-weight: 400;
  background-color: white;
  color:black;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  margin: 10px auto 8px;
  min-width: 45px;
  height: 42px;
  padding-left:12px;
  border: 1px solid gray;
  align-items: center;
  cursor: pointer;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  &:focus{
    outline: none;
  }
  &:hover{
    color:#c91a1a ;
    border-color: #c91a1a;
    .icon-container{
      background-color:#c91a1a; 
    }
  }

}
.icon-container{
 
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: gray;
  color: white;

}