
.outer__button{
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  background-color:var(--button);
  color:white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: 10px auto 8px;
  height: 42px;
  border: 2px solid var(--button);
  align-items: center;
  cursor: pointer;
  width: 100%;
  position: relative;
  display: inline-flex;
  justify-content: center;
  &:focus{
    outline: none;
  }
  &:hover{
    color:#c91a1a ;
    border-color: #af332b;
    background-color: white;
    .icon__container{
      background-color:#af332b; 
    }
  }

}
.icon__container{
  // box-shadow: 2px 1px 2px rgba(255, 255, 255 , 0.4);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 38px;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  background-color: var(--cart-icon-button);
  color: white;
  left: 0;
  transform-box: content-box;
  position: absolute;
  

}
.button__content{
  display: inline-flex;
  justify-content: center;
  flex-grow: 1;
  padding: 0 40px;
}

.animate{
  animation: moveRight 0.7s ease-in-out;
}

@keyframes moveRight{
  from {left: 0px;}
  to {left:calc(100% - 40px)}
}