h5{
  font-weight: 500;
  margin-bottom: 10px;
}
.dot{
    background-color: #fff;
    border: 1px solid #bfc0c6;
    border-radius: 40px;
    padding: 0;
    min-width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    color: #282c3f;
    margin: 5px;
    &:hover{
      border-color:#c91a1a; 
      color:#c91a1a;
    }
}