@import "../../../utility/color/colors.scss";

.header{
    height:55px;
    background-image: linear-gradient(to right,$PrimaryColor,#6B4689);
    display: flex;
    padding: 5px;

}
.header-hamburger{
    margin-top: 4px;  
    cursor: pointer;  
}
.hamburger-icon{
    color: white;
    font-size: 43px;
}
.header-heading{
    font-size: 30px;
    color: white;
    position: absolute;
    left: 42%;
    cursor: pointer;

}
.header-icons{
    position: absolute;
    right: 23px;
    font-size: 29px;
    top: 12px;
    color: white;
    .person{
        margin-left: 20px;
        font-size: 30px;
        cursor: pointer;
    }
    .cart{
        cursor: pointer;
    }
}