.hamberger__container {
  position: fixed;
  width: 21%;
  background-image: linear-gradient(#46265f,#46275feb ,#664283ed);
  height: 100%;
  z-index: 1;
  top: 0px;
  color: white;
  left: 0px;
} 
.close__icon {
  color: white;
  font-size: 41px;
  top: 2%;
  position: absolute;
  left: 3%;
  cursor: pointer;
}
.hamberger__items {
    display: flex;
    flex-direction: column;
    top: 8rem;
    position: absolute;
    /* left: 21px; */
    width: 100%;
    height: 100%;
    line-height: 4rem;
    padding: 0px 0em 0px 2em;
  div {
      cursor: pointer;
  }
}
.hamberger__link{
  color: white;
  text-decoration: none;
}
