* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}
:root {
  --textColor: black;
  --orange: #b16b63;
  --button: #9e7d84;
  --cart-icon-button: #735955;
  --background-image: linear-gradient(
    90deg,
    rgb(252, 244, 232),
    rgb(255, 252, 252)
  );
  --background-color: #f8eae1;
  --promise-card-color: #484650;
  --footer-color: white;
  --footer-background: #474554;
  --product-box-shadow: rgba(var(--textColor), 0.3);

  // --textColor: white;
  // --orange: #b16b63;
  // --button: #9e817d;
  // --cart-icon-button: #5f4744;
  // --background-image: linear-gradient(90deg, rgb(21 20 20), rgb(136 130 130));
  // --background-color: black;
  // --promise-card-color: white;
  // --footer-color:rgb(0, 0, 0);
  // --footer-background:#ffffff;
}
.app {
  background-image: var(--background-image);
  background-repeat: no-repeat;
}

.inbetween__content {
  min-height: 80vh;
}

.text-color {
  color: var(--textColor);
}
// $PrimaryColor:#3B1D53;

.blurred {
  filter: blur(5px);
}

.noblur {
  filter: blur(0) !important;
}
