.address__main__container {
  display: flex;
  padding: 2rem 3rem;
}
.address__container {
  display: flex;
  flex-direction: column;
  flex-basis: 65%;
  .address__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--textColor);
    .address__title {
      font-weight: 500;
    }
    .add__new__address__button {
      padding: 5px 7px;
      font-family: "Montserrat";
      font-size: 16px;
      background-color: #f0ebe5;
      border: none;
      border-radius: 10px;
      outline: none;
      margin-bottom: 3px;
      cursor: pointer;
    }
  }
  .default__address__container {
    display: flex;
    flex-direction: column;
  }
  .other__address__title {
    h3 {
      margin-top: 10px;
      font-weight: 500;
      text-decoration: underline;
      color: var(--textColor);
    }
  }
}

.pay__button {
  width: 100%;
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  margin-left: 4%;
}
.error__message {
  min-height: 20px;
  color: red;
  animation: blinker 1s linear infinite;
  font-size: 14px;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@media screen and (max-width: 850px) {
  .address__main__container {
    display: block;
  }
  .pay__button {
    margin-left: 0;
  }
}
